a {
  text-decoration: none !important;
}

@media only screen and (min-width: 600px) {
  .nav-items {
    margin-top: 7% !important;
  }
}

.toggle-cont {
  display: flex;
  justify-content: center;
	position: absolute;
	bottom: 1%;
	right: 2%;
	width: 100%;
}

.nav-subtitle-text {
  margin: 5% !important;
  padding-top: 4%;
}