@import header
@import songs
@import spinner
  
body
  margin: 0

.main 
  padding: 3%
  margin-top: 50px

.justify-center
  display: flex
  justify-content: center
  align-items: center

.splash-text
  margin-top: 5% !important

.splash-header
  margin-top: 2% !important
