.songs-container
  width: 100%
  max-height: 55vh
  overflow: scroll !important
  margin-bottom: 3%

.table
  display: table
  width: 100%

.table-row
  display: table-row

.table-cell
  display: table-cell !important
  padding: 3px 10px
  border: 1px solid #999999
  white-space: nowrap

.current-page
  height: 100%

.category-title
  margin-right: 3% !important
  
.sort-icon-container
  float: right

.sort-icon
  font-size: 1.3em !important
  cursor: pointer
  padding-top: 5px

.sticky
  position: sticky !important
  top: 0 !important

.alt-background
  background-color: #e9e6e6

.category-name-container
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  padding-right: 20px

.songs-container
  margin-top: 2%